/* Global */
@import "global/global.css";
@import "global/header.css";
@import "global/footer.css";
@import "global/saiba-mais.css";
@import "global/outras-areas.css";
@import "global/animations.css";

/* Menus hamburgueres */
@import "global/menu-mobile.css";
@import "global/menu-desktop.css";

/* Utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/cores.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/formulario.css";

/* Home */
@import "home/introducao.css";
@import "home/quem-somos.css";
@import "home/areas-de-atuacao.css";
@import "home/nosso-time.css";
@import "home/nossos-escritorios.css";
@import "home/nossos-artigos.css";
@import "home/contato-home.css";
@import "home/card1.css";

/* Nosso time */
@import "nosso-time/nosso-time.css";

/* Áreas de Atuação */
@import "./areas-de-atuacao/areas.css";
@import "./areas-de-atuacao/area-especifica.css";
@import "./areas-de-atuacao/card2.css";

/* Artigos */
@import "./artigo/conteudo-p1.css";
@import "./artigo/conteudo-p2.css";

/* Quem Somos */
@import "./quem-somos/introducao.css";
@import "./quem-somos/brcr.css";
@import "./quem-somos/diferencial.css";
@import "./quem-somos/principios.css";

/* Contato */
@import "./contato/contato.css";
@import "./contato/locais.css";

/* Termos e Condições e Políticas de Privacidade */
@import "./termos/termos.css";
@import "./politicas/politica.css";
