.quem-somos-bg {
  background: url("../../img/quem-somos/toda-equipe.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.quem-somos-bg::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(21, 38, 64, 0.84);
}

.introducao-quem-somos {
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}

.introducao-quem-somos-titulo {
  text-align: center;
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  margin: 300px 200px;
  justify-items: start;
  text-align: start;
}

@media (max-width: 1200px) {
  .introducao-quem-somos-titulo {
    z-index: 1;
    justify-items: start;
    text-align: start;
    margin: 120px 120px;
  }
}
@media (max-width: 800px) {
  .introducao-quem-somos-titulo {
    margin: 50px 50px;
  }
}
@media (max-width: 600px) {
  .introducao-quem-somos {
    padding: 20px 0px;
  }

  .introducao-quem-somos-titulo {
    margin: 40px 0px;
  }
}

@media (max-width: 400px) {
  .introducao-quem-somos-titulo {
    margin: 0px 0px;
  }
}
