.principios {
  display: grid;
  background-image: url(../../img/quem-somos/principios-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 90px;
  padding-bottom: 90px;
  padding-right: 40px;
  padding-left: 40px;
  max-height: 600px;
}

.principios h2 {
  position: relative;
}
.principios > div {
  margin-top: 70px;
  margin-bottom: 70px;
}

.principios > ul {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 3rem;
}
.principios ul > li {
  display: grid;
  gap: 1rem;
}
.principios ul > li:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 3;
}
.principios ul > li:last-child {
  grid-column: 1;
}
#principios-valores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#principios-valores li {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .principios {
    max-height: max-content;
    padding-bottom: 40px;
  }
  .principios ul {
    gap: 2rem;
  }
  .principios ul li:nth-child(2) {
    grid-column: auto;
  }
  .principios ul li:last-child {
    grid-row: auto;
    grid-column: auto;
    place-self: start;
  }
}

@media (max-width: 800px) {
  .principios ul {
    grid-template-columns: 1fr;
  }
  .principios {
    background-image: url(../../img/quem-somos/principios-bg-vertical.svg);
    background-position: center;
    max-height: max-content;
  }

  .principios ul > li {
    display: grid;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  #principios-ativo {
    display: none;
  }
  .principios h2,
  .principios > .titulo p {
    padding: 0;
    margin: 0;
  }
}
