.botao {
  color: rgba(6, 29, 48, 1);
  display: flex;
  max-width: 250px;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 12px 24px;
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 5px;
  background: var(
    --gradiente,
    linear-gradient(var(--cor-p5), rgba(194, 165, 92, 0.7))
  );
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.botao:hover {
  background: var(
    --gradiente,
    linear-gradient(var(--cor-p1), rgba(194, 165, 92, 0.5))
  );
}

.botao-secundario {
  color: var(--azul-escuro);
  background-color: var(--azul-escuro);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  padding: 16px 24px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}
.ativo {
  color: var(--cor-p5);
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.inativo {
  display: none;
}
#inativo {
  display: none;
}

.botao-secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
  background-color: var(--cor-p5);
}

.botao.seta::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 12px;
  transition: transform 0.2s;
  background: url("../../img/icones/seta.svg") center center no-repeat;
  align-items: center;
}

.botao.seta.pdf::after {
  background: url("../../img/icones/pdf.svg") no-repeat;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}
.container {
  box-sizing: border-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  display: inline-block;
  color: var(--azul-escuro);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  margin-top: 1rem;
}

.link.transicao {
  display: inline-block;
}
.link:hover {
  color: var(--cor-p5);
}
.link.transicao:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--cor-p5);
  display: block;
  position: relative;
  transition: 0.3s;
}
.link.transicao:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--cor-p5);
  display: block;
  transition: 0.3s;
}

.ativo {
  color: var(--cor-p5);
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.recuo {
  text-indent: 4em;
}

/*Adcionado manualmente a Estilização do botão de enviar do formulário*/
.botao-enviar {
  background: var(--azul-escuro);
  color: var(--cor-0);
  padding: 12px 24px;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

/* .degrade-1 {
  width: 100%;
  height: 70%;
  background: #d9dfdd;
}
.degrade-1 p {
  color: #d9dfdd;
}

.degrade-2 {
  width: 100%;
  height: 100%;
  background: #c6cfd1;
}
.degrade-2 p {
  color: #c6cfd1;
} */

.container-atuacao {
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 90px;
}

.detalhe-subtitulo h2::after {
  content: "";
  right: 0;
  top: 105%;
  width: 50%;
  height: 2px;
  position: absolute;
  background-color: var(--cor-p5);
}
.detalhe-subtitulo h2::before {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  bottom: 105%;
  height: 2px;
  background-color: var(--cor-p5);
}
@media (max-width: 1200px) {
  .botao img {
    max-width: 1.5rem;
  }
  .botao {
    padding: 8px 16px;
  }
}
@media (max-width: 800px) {
  .botao {
    color: rgba(6, 29, 48, 1);
    display: flex;
    max-width: 250px;
    align-items: center;
    gap: 1rem;
    padding: 12px 24px;
  }
  .recuo {
    text-indent: 2em;
  }
  .botao img {
    max-width: 1.25rem;
  }
}
@media (max-width: 600px) {
  .recuo {
    text-indent: 1em;
  }
}

@media (max-width: 400px) {
  .container-atuacao {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 300px) {
  .container-atuacao {
    max-width: 260px;
  }
}
