.shadow::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(12, 20, 27, 0.5);
  z-index: 1;
}

.botao {
  color: rgba(6, 29, 48, 1);
  display: flex;
  max-width: 250px;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 12px 24px;
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 5px;
  background: var(
    --gradiente,
    linear-gradient(var(--cor-p5), rgba(194, 165, 92, 1))
  );
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.7);
}

.botao:hover {
  background: var(
    --gradiente,
    linear-gradient(var(--cor-p1), rgba(194, 165, 92, 0.9))
  );
}

.botao-secundario {
  color: var(--azul-escuro);
  background-color: var(--azul-escuro);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  padding: 16px 24px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
}

#inativo {
  display: none;
}

.botao-secundario:hover {
  background: var(--cor-9);
}

.botao.seta {
  display: flex;
  align-items: center;
  background-color: var(--cor-p5);
}

.botao.seta::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 12px;
  transition: transform 0.2s;
  background: url("../../img/icones/seta.svg") center center no-repeat;
  align-items: center;
}

.botao.seta.pdf::after {
  background: url("../../img/icones/pdf.svg") no-repeat;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}
.container {
  box-sizing: border-box;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  display: inline-block;
  color: var(--azul-escuro);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  margin-top: 1rem;
}

.link.transicao {
  display: inline-block;
}
.link:hover {
  color: var(--cor-p5);
}
.link.transicao:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--cor-p5);
  display: block;
  position: relative;
  transition: 0.3s;
}
.link.transicao:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--cor-p5);
  display: block;
  transition: 0.3s;
}

.ativo {
  color: var(--cor-p5);
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
.recuo {
  text-indent: 4em;
}

/*Adcionado manualmente a Estilização do botão de enviar do formulário*/
.botao-enviar {
  background: var(--azul-escuro);
  color: var(--cor-0);
  padding: 12px 24px;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.container-atuacao {
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 90px;
}

/* Título interno */
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #0c141b;
  background-color: var(--azul-escuro);
}
.risco {
  position: relative;
}
.risco::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url("../../img/decoracoes/risco.svg") no-repeat center;
  position: absolute;
  top: 10px;
  left: -90px;
}
.container-termos {
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#white-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background);
}

#padding-0 {
  padding-top: 60px;
  background-color: var(--background);
  padding-bottom: 0px;
}
.margin-60 {
  margin-top: 140px;
  margin-bottom: 60px;
}

.maiusculo li > span {
  text-transform: uppercase;
}
.titulo {
  background: url("../../img/decoracoes/top-right.svg") no-repeat top 40px right
    20px;
}

.z-index-2 {
  z-index: 2;
}

.outras-areas-inativo {
  display: none;
}
.inativo {
  display: none;
}

@media (max-width: 1800px) {
  .risco::before {
    display: none;
  }
}
@media (max-width: 1200px) {
  .areas-inativo {
    display: none;
  }

  .areas-inativo {
    display: none;
  }
  .outras-areas-inativo {
    display: grid;
    width: 100%;
  }
  .botao img {
    max-width: 1.5rem;
  }
  .botao {
    padding: 8px 16px;
  }
  .risco::before {
    display: none;
  }
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #white-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo {
    background: none;
  }
  .botao {
    color: rgba(6, 29, 48, 1);
    display: flex;
    max-width: 250px;
    align-items: center;
    gap: 1rem;
    padding: 12px 24px;
  }
  .recuo {
    text-indent: 2em;
  }
  .botao img {
    max-width: 1.25rem;
  }
}
@media (max-width: 600px) {
  .recuo {
    text-indent: 1em;
  }
  .margin-60 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .container-atuacao {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 300px) {
  .container-atuacao {
    max-width: 260px;
  }
}
