.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  justify-content: start;
}

.contato-bg {
  background: url("../../img/contato/contato-bg.png") center center no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 -200px var(--background), inset 0 -80px var(--cor-0);
}

.contato::after {
  box-shadow: inset 0 -200px var(--background), inset 0 -80px var(--cor-0);
  z-index: 0;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(21, 38, 64, 0.85);
}
.contato-informacao {
  padding-left: 50px;
  z-index: 1;
}

.p {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 1.5;
}

.p2 {
  margin-top: 120px;
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 1.5;
  color: var(--cor-azul-escuro);
}

.contato-informacao p {
  padding-top: 50px;
}

#informacao-2 {
  padding-right: 20px;
}

.contato-icone img {
  margin-right: 5px;
}

.contato-icone ul {
  padding-top: 25px;
}
.contato-icone ul li {
  margin-bottom: 1rem;
}
.contato-icone ul li a {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 250px;
  gap: 10px;
}

.contato-informacao a {
  margin-top: 200px;
  max-width: 100%;
}

.contato-formulario {
  background: var(--cor-1);
  padding: 40px;
  z-index: 1;
}

.contato-abaixo {
  display: none;
}

.footer-contato ul a:hover {
  color: var(--cor-p1);
}

@media (max-width: 1200px) {
  .contato-bg {
    /* background: url("../../img/contato/contato.jpg") center center no-repeat; */
    background: url("../../img/contato/ramos-e-batista.jpg") center -20px no-repeat;

    background-size: cover;
    background-position: center;
  }
  .contato {
    grid-template-columns: 1fr;
    padding: 60px 0;
    margin-top: 0px;
  }
  .contato-informacao a {
    margin-top: 0px;
  }
  .contato-informacao {
    padding: 0 35px;
  }
  .contato-abaixo {
    display: inline;
  }
  .contato-ao-lado {
    display: none;
  }
  .contato-informacao a {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  #container-contato {
    padding: 0 0;
    padding-bottom: 10px;
  }

  .contato-informacao {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .contato-informacao h1 {
    margin-top: 40px;
  }
  .contato-informacao a {
    margin-top: 0px;
  }
  .contato-bg {
    padding: 0;
    background: url("../../img/contato/ramos-e-batista.jpg") center -20px no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-position: left right;
  }
  .contato-formulario {
    background: var(--cor-1);
    padding: 20px;
    z-index: 1;
  }
}

@media (max-width: 450px) {
  .contato-informacao {
    padding: 0 20px;
  }

  .contato-icone ul li a {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .contato-informacao h1 {
    margin-top: 0.5rem;
  }
}
