.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header img {
  max-width: 70%;
}
a,
button {
  cursor: pointer;
}

nav {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 240px;
}

.navigation {
  z-index: 11;
  position: fixed;
  right: -500px;
  width: 300px;
  top: 0px;
  height: 100%;
  background-color: transparent;
  transition: 0.5s;
  display: none;
}

.navigation ul li {
  z-index: 12;
  color: var(--azul-escuro);
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  padding: 1rem 1.5rem;
  border-bottom: 1pt solid var(--cinza-escuro);
}

.hamburger,
.bar {
  position: fixed;
  left: -3rem;
}

.hamburger {
  display: block;
  top: 5%;
  left: 95%;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  top: 3px;
  background: var(--azul-escuro);
  width: 100%;
  height: 4px;
  transition: all 0.3s ease-in;
}

#bar2 {
  top: 11px;
}

#bar3 {
  top: 19px;
}

.navigation.active {
  right: 0;
}

.hamburger.open #bar1 {
  background-color: var(--azul-escuro);
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: var(--azul-escuro);

  transform: rotate(-45deg) translate(6px, -5px);
}

.nav-list a {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  color: var(--azul-escuro);
}

.nav-list a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--azul-escuro);
  display: block;
  position: absolute;
}

.nav-list a:hover:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--azul-escuro);
  display: block;
  transition: 0.3s;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #000;
  font-weight: 400;
}

@media (max-width: 800px) {
  .header a img {
    max-width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .nav-item {
    display: none;
  }
  .navigation {
    display: block;
  }
}
