.navigation {
  z-index: 3;
  position: fixed;
  right: -500px;
  width: 280px;
  top: 0px;
  height: 100%;
  background-color: var(--azul-escuro);
  transition: 0.5s;
  display: none;
  border-radius: 5px;
}
#z-index-img {
  z-index: 4;
}
.navigation nav {
  z-index: 10;
  position: absolute;
  top: 180px;
  right: 20px;
  width: 240px;
}
.navigation nav > a {
  position: fixed;
  top: 90%;
}

.navigation ul li {
  text-align: right;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.5em;
  padding: 1rem 1.5rem;
  border-bottom: 1pt solid var(--cinza-escuro);
}
.navigation.active {
  right: 0;
  z-index: 4;
}

.hamburger,
.bar {
  position: fixed;
  left: -2.5rem;
}

.hamburger {
  display: block;
  top: 5%;
  left: 95%;
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border: 0;
  background: 0 0;
}

.bar {
  top: 8px;
  background-color: var(--cor-0);

  width: 100%;
  height: 3px;
  transition: all 0.3s ease-in;
  left: -3.05 mrem;
}
#bar0 {
  background-color: transparent;

  top: -4px;
  height: 100%;
  padding: 6px;
  border-radius: 50%;
  left: -54px;
}
#bar2 {
  top: 16px;
}
#tes0 {
  background-color: transparent;

  top: -4px;
  height: 100%;
  padding: 6px;
  border-radius: 50%;
  left: -54px;
}
#tes1 {
  background-color: var(--azul-escuro);
}
#tes2 {
  top: 16px;
  background-color: var(--azul-escuro);
}
#tes3 {
  top: 24px;
  background-color: var(--azul-escuro);
}
#bar3 {
  top: 24px;
}

.hamburger.open #bar1 {
  background-color: var(--background);
  transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2 {
  background-color: transparent;
}

.hamburger.open #bar3 {
  background-color: var(--background);

  transform: rotate(-45deg) translate(6px, -5px);
}

.nav-item {
  margin: 0 1rem;
}
.whatsapp-fixado {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 2;
}
.whatsapp-fixado p {
  padding: 6px 8px;
  border-radius: 8px;
  background-color: var(--azul-escuro);
}
@media screen and (max-width: 1200px) {
  .navigation {
    display: block;
  }
}

@media (max-width: 600px) {
  .whatsapp-fixado {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 2;
    max-width: 48px;
  }
  .whatsapp-fixado p {
    display: none;
  }
  .header img {
    max-width: 120px;
    border-radius: 0px;
  }
}
