.navigation-desktop {
  position: fixed;
  left: -300px;
  width: 0px;
  top: 116px;
  left: 200px;
  height: 430px;
  border-radius: 5px;
  transition: 0.5s;
}
.header {
  width: 100%;
}
.navigation-desktop.active {
  width: 340px;
  right: 0;
  top: 108px;
  left: 200px;
  background-color: rgba(21, 38, 64, 0.85);
}
.navigation-desktop nav {
  z-index: 3;
  position: absolute;
  top: 1rem;
  right: 20px;
  width: 300px;
  transition: 0.5s;
  display: none;
}
.navigation-desktop.active nav {
  display: block;
}

.navigation-desktop ul li {
  text-align: left;
  text-transform: uppercase;
  list-style-type: none;
  padding: 1rem;
  border-bottom: 1pt solid var(--cinza-escuro);
}

.hamburger-desktop,
.bar-desktop {
  position: fixed;
  left: -1000px;
}

.bar-desktop {
  top: 40px;
  background-color: var(--cor-0);
  width: 2rem;
  height: 3px;
  transition: all 0.3s ease-in;
}
#ad {
  position: relative;
}
#bar-desktop0 {
  background-color: transparent;
  width: 4rem;
  top: 45px;
  height: 4rem;
  border-radius: 50%;
  left: 300px;
}
#bar-desktop1 {
  top: 47px;
  left: 316px;
}

#bar-desktop2 {
  top: 55px;
  left: 316px;
}

#bar-desktop3 {
  top: 63px;
  left: 316px;
}

.hamburger-desktop.open #bar-desktop1 {
  background-color: var(--background);
  transform: rotate(45deg) translate(3px, 8px);
  left: 320px;
}

.hamburger-desktop.open #bar-desktop2 {
  background-color: transparent;
}

.hamburger-desktop.open #bar-desktop3 {
  background-color: var(--background);
  left: 320px;

  transform: rotate(-45deg) translate(3px, -8px);
}
.navigation-desktop nav li a:hover {
  color: var(--cor-p5);
}
@media (max-width: 1200px) {
  .navigation-desktop {
    display: none;
  }
}
