.outras-areas {
  margin-top: 120px;
  margin-bottom: 80px;
  position: relative;
  /* overflow-x: auto; */
}

.outras-areas h2 {
  display: block;
  position: relative;
}

.outras-areas-conteudo {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  place-items: start;
  position: relative;
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--azul-escuro) var(--cor-0);
  scroll-behavior: smooth;
  padding: 1rem;
}
.outras-areas-conteudo a {
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.outras-areas-conteudo img {
  border-radius: 6px;
  max-width: 400px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}
.outras-areas-conteudo a div span {
  color: var(--background);
}
.outras-areas-conteudo div {
  position: relative;
  transition: 0.4s;
}
.outras-areas-conteudo div:hover {
  transition: 0.4s;
  transform: scale(1.05);
}
.outras-areas-conteudo div::after {
  border-radius: 6px;

  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(21, 38, 64, 0.7);
}
.outras-areas-conteudo.bg-yellow div::after {
  border-radius: 6px;

  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.outras-areas-conteudo.bg-yellow span {
  color: var(--cor-1);
}
.outras-areas-conteudo div > span {
  z-index: 1;
  position: absolute;
  top: 80%;
  display: block;
  left: 35%;
  transform: translate(-50%, -50%);
  color: var(--background);
}
.outras-areas-conteudo a > span {
  color: var(--azul-escuro);
}

#outras-areas-nosso-time {
  object-position: top;
}

@media (max-width: 600px) {
  .outras-areas-conteudo img {
    border-radius: 6px;
    max-width: 250px;
    height: 320px;
    object-fit: cover;
    object-position: center;
  }
  .outras-areas-conteudo div > span {
    top: 80%;
    left: 40%;
  }
}

@media (hover: hover) {
  .outras-areas-conteudo div:hover {
    span {
      color: var(--cor-p5);
    }
  }
}
