.principal {
    margin: 0 40px; /* Diminuir a margin pra deixar mais responsivo com telas menores*/
    margin-bottom: 160px;
}

@media (max-width: 1200px) {
    .principal {
        margin-bottom: 80px;
    }
}

@media (max-width: 600px) {
    .principal {
        margin: 0 25px;
    }
}

@media (max-width: 400px) {
    .principal {
        margin: 0 15px;
    }
}