.area-conteudo {
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(240px, 540px) 1fr;
  place-items: center;
}

#area-conteudo-img {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 40px;
  object-fit: cover;
}

.artigo-conteudo {
  grid-row: 2;
  align-self: flex-start;
  width: 100%;
  display: grid;
  margin-top: 50px;
  grid-template-columns: minmax(120px, 1200px) minmax(312px, 1fr);
  gap: 25px;
  margin-bottom: 100px;
}

#titulo1 {
  text-wrap: wrap;
  grid-column: 1/3;
  font-size: 56px;
  margin-bottom: 10px;
}

#foto-autor {
  grid-row: 2;
  grid-column: 1;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.autor {
  grid-row: 2;
  grid-column: 1;
  margin-left: 50px;
  align-self: center;
}

.share-redes {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

.share-redes p {
  margin-bottom: 2px;
  margin-right: 15px;
}

@media (max-width: 1200px) {
  .area-conteudo {
    grid-template-rows: 540px minmax(60px, 1fr);
  }

  #figura1 {
    margin-top: 0;
  }

  #titulo1 {
    font-size: 44px;
  }

  .artigo-conteudo {
    margin-top: 0;
    grid-template-columns: minmax(120px, 780px) minmax(200px, 1fr);
  }
  .share-redes span {
    display: none;
  }
}

@media (max-width: 852px) {
  .area-conteudo {
    grid-template-rows: 300px minmax(60px, 1fr);
  }
  #figura1 {
    margin-top: 20px;
  }
  #titulo1 {
    margin-top: 2rem;
    font-size: 38px;
  }
}

@media (max-width: 600px) {
  .area-conteudo > img {
    margin-bottom: 2rem;
  }
  #titulo1 {
    margin-top: 1rem;
    font-size: 24px;
  }

  .area-conteudo {
    grid-template-rows: 240px minmax(60px, 1fr);
  }

  .artigo-conteudo {
    margin-top: 10px;
    grid-template-columns: minmax(180px, 360px) minmax(100px, 1fr);
  }

  #foto-autor,
  .autor {
    grid-column: 1/3;
    margin-bottom: 10px;
  }

  #foto-autor {
    height: 36px;
    width: 36px;
  }

  .share-redes {
    grid-column: 1/3;
    grid-row: 3;
    justify-content: start;
  }

  .share-redes li img {
    height: 24px;
    width: 24px;
  }
  .share-redes span {
    display: inline;
  }
}
@media (max-width: 300px) {
  #figura1 {
    max-height: fit-content;
    margin-top: 0px;
  }
  #titulo1 {
    margin-top: 0px;
  }
  .artigo-conteudo {
    grid-template-columns: minmax(140px, 180px) minmax(100px, 1fr);
    gap: 15px;
  }
  .area-conteudo .container {
    box-sizing: border-box;
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
