.p {
    grid-column: 1;
    font-size: 1.2rem;
}

#titulo2, #titulo3  {
    grid-column: 1;
    font-size: 42px;
}

#titulo4, #titulo5, #titulo6 {
    margin-bottom: 15px;
    font-size: 20px;
}

.artigos-publicados {
    grid-column: 2;
    grid-row: 3/7;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.artigos li {
    margin-bottom: 45px;
}

@media (max-width: 1200px) {
    .p {
        font-size: 1.0rem;
    }
    #titulo2, #titulo3 {
        font-size: 34px;
        margin: 8px 0;
    }
    .artigos-publicados {
        grid-column: 2;
        grid-row: 3/7;
    }
}

@media (max-width: 852px) {
    #titulo2, #titulo3 {
        font-size: 1.4rem;
    }
  }

@media (max-width: 600px) {
    .p {
        font-size: .8rem;
    }
    .artigos-publicados {
        grid-row: 4/7;
    }

    #titulo2, #titulo3 {
        font-size: 1rem;
        margin: 8px 0;
    }

    #titulo4, #titulo5, #titulo6 {
        font-size: 12px;
    }
}