.areas-atuacao-bg {
  display: grid;
  background: url("../../img/home/atuacao-bg.jpeg") center no-repeat;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}

.areas-atuacao-bg::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(21, 38, 64, 0.95);
}

.areas-atuacao {
  z-index: 1;
  display: grid;
  gap: 40px;
  margin-top: 4rem;
}

.areas-atuacao ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 400px));
  gap: 90px;
}

.areas-atuacao img {
  width: 32px;
  height: 32px;
}
.areas-atuacao li {
  background-color: var(--background);
  border-radius: 4px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 30px;
  gap: 1.5rem;
  position: relative;
  align-items: center;
  transition: 0.3s;
}
.areas-atuacao-bg > a {
  place-self: center;
  z-index: 2;
}
.areas-atuacao li:after {
  position: absolute;
}

.areas-atuacao li:hover {
  transition: 0.3s;
  transform: scale(1.05);
}
.areas-atuacao li p,
.areas-atuacao li a {
  grid-column: 1/3;
}
.areas-atuacao li a {
  max-width: 150px;
  justify-self: end;
}

.areas-atuacao h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
}
.areas-atuacao > a {
  place-self: center;
}
.areas-atuacao ul li {
  border: 4px solid var(--cor-p5);
}

.areas-atuacao ul #inativo {
  display: none;
}
@media (hover: hover) {
  .areas-atuacao ul li:hover {
    border: 4px solid var(--cor-p1);

    #inativo {
      display: flex;
      position: absolute;
      top: 90%;
      right: 20%;
      border: 1px solid var(--cor-p1);
    }
  }
}
@media (max-width: 1200px) {
  .areas-atuacao ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .areas-atuacao ul {
    grid-template-columns: 1fr;
  }

  .areas-atuacao-bg {
    background-position: bottom;
    background-size: cover;
  }
  #hide {
    display: none;
  }
  .areas-atuacao-bg {
    padding-top: 60px;
  }

  .areas-atuacao ul {
    position: relative;
  }
}

@media (max-width: 600px) {
  .areas-atuacao ul li:hover {
    transform: scale(1);
  }

  .areas-atuacao ul #inativo {
    position: relative;
    display: flex;
    position: relative;
    top: 0%;
    right: 0%;
  }
  .areas-atuacao {
    margin-top: 0rem;
  }
  .areas-atuacao ul li:hover {
    #inativo {
      display: flex;
      position: static;
    }
  }
  .areas-atuacao h2 {
    margin-bottom: 1rem;
  }
}
