.details {
  margin: 20px 0;
  background: url("../../img/atuacao/unsplash_b5oSSFUNCHI.png") no-repeat center
    center/cover;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  height: 300px;
}

.dois {
  background: url("../../img/atuacao/Advogado-previdenciario-1-1024x576.jpg")
    no-repeat center;
  background-size: cover;
}

.tres {
  background: url("../../img/atuacao/Rectangle-13.png") no-repeat center;
  background-size: cover;
}

.quatro {
  background: url("../../img/atuacao/etienne-martin-2_K82gx9Uk8-unsplash.jpg")
    no-repeat center;
  background-size: cover;
}

.seis {
  background: url("../../img/atuacao/phillip-goldsberry-kwqJwtlb0KU-unsplash.jpg")
    no-repeat center;
  background-size: cover;
}

.cinco {
  background: url("../../img/atuacao/tara-clark-Gk8LG7dsHWA-unsplash.jpg")
    no-repeat center;
  background-size: cover;
}

.details h2 {
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.6s all;
  color: var(--background);
  margin-bottom: 20px;
  padding: 6px 8px;
}

.details:hover h2 {
  background-color: #152640;
  border-radius: 4px;
  color: var(--cor-0);
  transition: 0.6s all;
}

.details p {
  font-size: 16px;
  color: transparent;
  transition: 0.6s all;
  margin-bottom: 20px;
}

.details a {
  text-decoration: none;
  text-transform: capitalize;
  background: transparent;
  color: transparent;

  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid transparent;
}

.details:hover a {
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 4px;
  color: #152640;
  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid #152640;
  transition: 2s all;
}

.details::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #ffd529;
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.6s all;
  border: radius 4px;
}

.details:hover::before {
  width: 100%;
  transition: 0.6s all;
}

.details:hover p {
  color: #152640;
}

@media (max-width: 400px) {
  .details {
    padding-bottom: 60px;
  }
  .details h2 {
    font-size: 1rem;
  }
  .details p {
    font-size: 0.8rem;
    padding: 0;
  }
  .details a {
    text-decoration: none;
    text-transform: capitalize;
    background: transparent;
    color: transparent;
    font-size: 10px;
    padding: 0;
    display: inline-block;
    border: 1px solid transparent;
  }
}
