.main-bg {
  background: url("../../img/home/background-main.jpeg") center center no-repeat;
  background-size: cover;
  position: relative;
}
.main-bg::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(21, 38, 64, 0.84);
}

.introducao {
  display: grid;
  place-items: center;
  padding: 90px 0;
  text-align: center;
  position: relative;
  padding: 180px;
}

.introducao-conteudo {
  z-index: 1;
  display: grid;
  place-items: center;
  margin-top: 100px;
}
.introducao-conteudo p {
  margin: 40px;
}

.introducao-conteudo a {
  margin-top: 200px;
  text-transform: uppercase;
  max-width: 100%;
}


@media (max-width: 1200px) {
  .introducao {
    padding: 60px 0;
    margin-top: 0px;
  }
  .introducao-conteudo a {
    margin-top: 0px;
  }
}
@media (max-width: 600px) {
  .main-bg {
    background: url("../../img/home/background-main-mobile.jpeg") center center
      no-repeat;
    background-size: cover;
  }
  .introducao {
    padding: 0px 0;
    padding-bottom: 10px;
  }
  .introducao-conteudo a {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}
