.nossos-escritorios-bg {
  backdrop-filter: blur(6.699999809265137px);
  padding: 100px 0;
  background: rgba(219, 211, 172, 0.95)
    url(../../img/cards/campaign-creators-qCi_MzVODoU-unsplash-min.jpg) center
    center no-repeat;
  background-size: cover;
  position: relative;
  align-items: center;
}
.nossos-escritorios-bg::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(21, 38, 64, 0.95);
}
.nossos-escritorios-bg h2 {
  z-index: 2;
  position: relative;
  margin-bottom: 100px;
}
.nossos-escritorios {
  object-fit: cover;
  object-position: center;
}
.nossos-escritorios img {
  width: 800px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.nossos-escritorios-bg p {
  z-index: 1;
  position: relative;
}
.nossos-escritorios-titulo {
  display: grid;
  gap: 3rem;
}
.nossos-escritorios img {
  border-radius: 10px;
}

.nossos-escritorios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.z-index-10 {
  z-index: 10;
}
.nossos-escritorios img {
  grid-row: 1 / 3;
}
#nossos-escritorios-galeria {
  text-align: center;
  grid-row: 3;
}
@media (max-width: 1000px) {
  .nossos-escritorios {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 800px) {
  /* .nossos-escritorios-bg h2 {
    display: grid;
    place-self: center;
  } */
  .nossos-escritorios-bg {
    display: grid;
    /* place-items: center; */
    /* place-content: center; */
    padding: 60px 0;
  }
}

@media (max-width: 600px) {
  .nossos-escritorios-bg {
    display: grid;
  }
  .nossos-escritorios-bg h2 {
    margin-bottom: 60px;
  }
  .nossos-escritorios img {
    width: 800px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 350px) {
  .nossos-escritorios-bg h2 {
    font-size: 2.2rem;
  }
}
