.nossos-artigos {
  display: grid;
  padding: 80px 0;
  background: url(../../img/decoracoes/top-right.svg) no-repeat top 100px right
    100px;
}
.nossos-artigos h2 {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
}

.nossos-artigos-carrossel {
  display: grid;
  justify-content: center;
  overflow-x: auto;
}

.nossos-artigos-carrossel ul {
  display: flex;
  gap: 3rem;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 60px 30px;
}
.nossos-artigos-carrossel li {
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.nossos-artigos-carrossel li:hover {
  transform: scale(1.2);
}
.nossos-artigos-carrossel li::after {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 23, 41, 0.64);
}

.nossos-artigos-carrossel img {
  max-width: 400px;
  max-height: 400px;
  position: relative;
}

.nossos-artigos-carrossel div {
  display: grid;
  width: 230px;
  z-index: 1;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: end;
}

@media (max-width: 800px) {
  .nossos-artigos {
    background-image: none;
  }
  .nossos-artigos-carrossel ul {
    padding-right: 40px;
  }
}
