.quemsomos-bg {
  padding: 100px 0;
}
.quemsomos {
  text-align: center;
  background: url(../../img/decoracoes/bottom-left.svg) no-repeat bottom left
    1rem;
  position: relative;
}
.quemsomos h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
}


.quemsomos-conteudo {
  margin-top: 60px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.quemsomos-conteudo h3 {
  align-self: center;
}

.quemsomos-conteudo img {
  width: 100%;
  grid-column: 2;
  grid-row: 1 / 3;
  margin-bottom: 0px;
  border-radius: 9px;
  margin-left: 40px;
}
.quemsomos-conteudo p {
  place-self: top;
  grid-column: 1;
}
@media (max-width: 1200px) {
  .quemsomos {
    background: none;
  }
  .quemsomos-conteudo img {
    margin-bottom: 3rem;
    border-radius: 4px;
  }

  .quemsomos-bg {
    padding: 0px 0;
    padding-top: 50px;
    background-image: none;
  }
  .quemsomos-conteudo {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .quemsomos img {
    max-width: 100%;
    grid-column: auto;
    grid-row: auto;
    margin-left: 0px;
  }
}
@media (max-width: 800px) {
  .quemsomos-conteudo p {
    margin-top: 0px;
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .quemsomos h2 {
    margin-bottom: 40px;
  }

  .quemsomos-bg > .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .quemsomos h3,
  .quemsomos p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 350px) {
  .quemsomos h2 {
    text-decoration: underline;
  }
  .quemsomos h2::before {
    display: none;
  }
  .quemsomos h2::after {
    display: none;
  }
}
