.quemsomos-bg {
  background-color: var(--cinza-azulado);
}
.quemsomos {
  text-align: center;
  position: relative;
}
.quemsomos h2 {
  display: inline-block;
  position: relative;
  margin: 80px;
}

.quemsomos h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 150px;
  height: 3px;
  background-color: var(--amarelo);
}
.quemsomos h2::after {
  content: "";
  left: 200px;
  top: 70px;
  width: 200px;
  height: 3px;
  position: absolute;
  background-color: var(--amarelo);
}

.quemsomos-conteudo {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  align-content: center;
  gap: 24px;
}

.quemsomos-conteudo h3 {
  padding-bottom: 40px;
}
.quemsomos-conteudo img {
  width: 100%;
}
.quemsomos-conteudo p {
  margin-top: 30px;
  grid-column: 1;
}
@media (max-width: 1200px) {
  .quemsomos-conteudo {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
  }
  .quemsomos img {
    max-width: 70%;
  }
}
@media (max-width: 800px) {
  .quemsomos h2 {
    font-size: 3rem;
    margin: 60px;
  }
  .quemsomos-conteudo p {
    margin-top: 0px;
    grid-column: 1;
  }
  .quemsomos h2::before {
    left: 0;
    top: 4px;
    width: 120px;
  }
  .quemsomos h2::after {
    left: 180px;
    top: 55px;
    width: 120px;
  }
}

@media (max-width: 600px) {
  .quemsomos h2 {
    font-size: 2rem;
    margin: 40px;
  }
  .quemsomos h2::before {
    left: 0;
    top: 2px;
    width: 80px;
  }
  .quemsomos h2::after {
    left: 100px;
    top: 36px;
    width: 100px;
  }
}

@media (max-width: 350px) {
  .quemsomos h2::before {
    display: none;
  }
  .quemsomos h2::after {
    display: none;
  }
}
