.quemsomos {
  background: url(../../img/decoracoes/bottom-left.svg) no-repeat bottom left
    1rem;
  position: relative;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.quemsomos-conteudo {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
}
.quemsomos-conteudo > div {
  align-items: center;
  align-content: center;
  display: grid;
  background-image: none;
}

.quemsomos-conteudo img {
  width: 100%;
  grid-column: 2;
  grid-row: 1 / 3;
  margin-bottom: 0px;
  border-radius: 1rem;
}
.quemsomos-conteudo > p {
  grid-row: 2 /3;
  grid-column: 1;
}
@media (max-width: 1200px) {
  .quemsomos {
    background: none;
  }
  .quemsomos-conteudo img {
    border-radius: 4px;
  }

  .quemsomos-bg {
    padding: 0px 0;
    padding-top: 50px;
    background-image: none;
  }
  .quemsomos-conteudo {
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .quemsomos img {
    max-width: 100%;
    grid-column: auto;
    grid-row: auto;
    margin-left: 0px;
  }
}
@media (max-width: 800px) {
  .quemsomos-conteudo > p {
    margin-top: 0px;
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .quemsomos {
    margin-bottom: 1rem;
  }
  .quemsomos-bg {
    padding-top: 0px;
  }
  .quemsomos h2 {
    margin-bottom: 40px;
  }

  .quemsomos-conteudo img {
    margin-bottom: 2rem;
  }
  .quemsomos-bg > .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .quemsomos-conteudo > p {
    padding-left: 20px;
    padding-right: 20px;
  }
  .quemsomos-conteudo .titulo h2,
  .quemsomos-conteudo .titulo p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 350px) {
 
  .quemsomos h2::before {
    display: none;
  }
  .quemsomos h2::after {
    display: none;
  }
}
