.details-2 {
  margin: 20px 0;
  background: url(../../img/atuacao/unsplash_b5oSSFUNCHI.png) no-repeat center
    center/cover;
  padding: 30px 20px;
  position: relative;
  z-index: 1;

  border-radius: 4px;
}

.dois {
  background: url(../../img/atuacao/Advogado-previdenciario-1-1024x576.jpg)
    no-repeat center center/cover;
}

.tres {
  background: url(../../img/atuacao/Rectangle-13.png) no-repeat center
    center/cover;
}

.quatro {
  background: url(../../img/atuacao/etienne-martin-2_K82gx9Uk8-unsplash.jpg)
    no-repeat center center/cover;
}

.seis {
  background: url(../../img/atuacao/phillip-goldsberry-kwqJwtlb0KU-unsplash.jpg)
    no-repeat center center/cover;
}
.sete {
  background: url(../../img/atuacao/tributário.jpg) no-repeat center
    center/cover;
}
.oito {
  background: url(../../img/atuacao/marcario.jpg) no-repeat center center/cover;
}
.nove {
  background: url(../../img/atuacao/empresarial.jpg) no-repeat center
    center/cover;
}

.cinco {
  background: url(../../img/atuacao/tara-clark-Gk8LG7dsHWA-unsplash.jpg)
    no-repeat center center/cover;
}

.details-2 h2 {
  font-size: 22px;
  text-transform: uppercase;
  transition: 0.6s all;
  color: var(--background);
  margin-bottom: 20px;
}

.details-2:hover h2 {
  color: var(--cor-p5);
  transition: 0.6s all;
}

.details-2 p {
  font-size: 16px;
  color: transparent;
  transition: 0.6s all;
  margin-bottom: 20px;
}

.details-2 a {
  text-decoration: none;
  text-transform: capitalize;
  background: transparent;
  color: transparent;

  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid transparent;
}

.details-2:hover a {
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 4px;
  color: var(--cor-p5);
  font-size: 14px;
  padding: 6px 12px;
  display: inline-block;
  border: 1px solid var(--cor-p5);
  transition: 2s all;
}

.details-2::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--azul-escuro);
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.6s all;
  border: radius 4px;
}

.details-2:hover::before {
  width: 100%;
  transition: 0.6s all;
}

.details-2:hover p {
  color: var(--background);
}
